NEXT_PUBLIC_SUPABASE_URL= "uxlxrkeylrtdqnincclx"
NEXT_PUBLIC_SUPABASE_ANON_KEY= "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV4bHhya2V5bHJ0ZHFuaW5jY2x4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc2MTk1NDIsImV4cCI6MjA5MzE5NTU0Mn0.u7Y9kAlssAPLR4lLPI5wAb1oIIc_yjXDWSxbsTPdaaI"
